# 2. Lists and Sets

## Learning objectives
- Understand the nature of a list.
- Know how to index and slice a list.
- Know some ways to add items to a list.
- Know some methods associated with a list.
<br> <br>
- Understand the nature of a set.
- Learn how to add to and update a set.
- Learn how to join sets using different methods.

## Lists

- Powerful data type in Python.
- Denoted by square brackets [].
- Store items as a mutable ordered sequence of elements.
- Each element in a list is an item.
- Support indexing and slicing.
- Can nest lists within each other.

![Lists](https://github.com/life-efficient/Essentials/blob/main/2.%20Python%20programming/2.%20Lists%20and%20Sets/images/lists.png?raw=1)

### Some definitions
- Mutable: can be changed after creation (supports addition/removal/reassignment of items).
- Ordered: as it sounds, has a fixed order (the order of elements provided at the time of assignment) and so can be indexed using numbers.
- Hence a list \[2,1,3,4\] will not be rearranged, 2 will be the first element, 1 will be the second... etc.
- Sequence of elements: fairly self explanatory.

In [ ]:
# can handle multiple object types
my_list = [3, "three", 3.0, True]

In [ ]:
my_list[0]

In [ ]:
sentence = 'This is just a sentence'
sentence.split('s')

In [ ]:
# can use the type() function to check the data type of an object
type(3)

In [ ]:
type("three")

In [ ]:
type(3.0)

In [ ]:
type(True)

In [ ]:
type(my_list)

### Indexing and Slicing

In Python, slicing:

- Starts at 0 (zero).
- Is inclusive at the lower bound (including).
- Is exclusive at the upper bound (up to but not including).

In [ ]:
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list

['John', 'Paul', 'George', 'Ringo']

In [ ]:
# Index 0 gives first element
my_list[0]

In [ ]:
# Use colon to indicate slice, 1:3 returns 2nd and 3rd items but not 4th
my_list[0:3]

In [ ]:
# No upper bound starts with first index indicated and gives everything beyond
my_list[1:]

In [ ]:
# No lower bound starts from index 0, up to but not including upper bound
my_list[:3]

In [ ]:
# The third argument will define the step size
my_list[::2]

In [ ]:
# You can also use negative index to start from the end:
print(my_list[-1])
print(my_list[-2])
# You can also define the step size as negative, which will go backwards
print(my_list[::-1])

In [ ]:
# You can reassign elements in lists to new values
my_list[1] = my_list[1].upper()
my_list

In [ ]:
# You can add elements to lists, but it does not change original list
my_list + ['Yoko']
print(my_list)

In [ ]:
# If you want to change the original list, you must reassign list to change original
my_list = my_list + ['Yoko']

my_list

In [ ]:
# You can reassign it to a slice of the original list

my_list = my_list[:4]

my_list

In [ ]:
# YOu can multiply your list by an integer, which will replicate the original list x times
print(my_list * 2)
# As before, you need to reassign if you want to make changes to the original changes
my_list

In [ ]:
# Lists can be an item within a list
# Lists within lists are called nested
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a nested list
nest_list = [lst_1,lst_2,lst_3]
nest_list

You can make a list nested in a list, which in turn is nested in another list... It's like the Inception movie!

<p align=center><img src=https://github.com/life-efficient/Essentials/blob/main/2.%20Python%20programming/2.%20Lists%20and%20Sets/images/deeper.jpg?raw=1></p>

In [ ]:
print('Accessing second item', nest_list[1])
print('Accessing second item of the second item', nest_list[1][1])

### List Functions and Methods

Let's review some of the most common functions and methods that you can use with lists.

The difference between functions and methods is that functions are not bounded to a specific data type, whereas methods are. In other words, a method is a function that is characteristic to a certain data type.

Therefore, all methods are functions, but not all functions are methods.

Here we will see some of the most common methods and functions you will find in Python for lists. We encourage you to go to the official Python documentation [here](https://docs.python.org/3/tutorial/datastructures.html) to check an exhaustive list of methods

#### <font size=+2>`len`</font>

`len` is a Python function that counts the number of items in a data type containing multiple elements.

In [ ]:
# Let's redefine my_list so we don't lose track of its content
my_list = ['John', 'Paul', 'George', 'Ringo']
len(my_list)

Take into account that the `len` function doesn't work for numbers or floats. It will work for data types that are collections, such as lists, or strings

In [ ]:
len(3)

#### <font size=+2>`min` </font>  and  <font size=+2> `max` </font>

You can use min() and max() to find the highest and lowest item in lists.

In [ ]:
num_list = [3, 7, 1, 9, 42]
print(min(num_list))
print(max(num_list))


If you use it in lists with strings in it, it works in alphabetical order.

In [ ]:
print(min(my_list))
print(max(my_list))

George
Ringo

#### <font size=+2>`.append()` </font> and <font size=+2> `.extend()` </font>
- .append() adds items to the end of a list.
- .extend() adds items in a list (or other iterable) itemwise to the end of a list.
- We can see the difference in addition below.

In [ ]:
# add items by .append() method
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list.append(['Lennon','McCartney','Harrison', 'Starr'])

print(my_list)

Notice that when using the `append` method, we didn't had to reassign it to a new variable. It changed the original value of the variable. 

This same principle applies to the `extend` method

In [ ]:
# add items in iterable itemwise by .extend() method
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list.extend(['Lennon','McCartney','Harrison', 'Starr'])

my_list

#### <font size=+2>`.insert()` </font>

`insert` will add an item in a specific index. Remember that lists are 0 indexed!

In [ ]:
my_list = ['John', 'Paul', 'George', 'Ringo']
my_list.insert(1, 'Lennon')
my_list

['John', 'Lennon', 'Paul', 'George', 'Ringo']

#### <font size=+2> `.pop()` </font>

`pop` removes, by default, the last item. Similarly to `append`, `extend`, and `insert`, it changes the original state of the variable. But, this method additionally returns the removed item

In [ ]:
# last_item will be assigned with the value of the last element
last_item = my_list.pop()
last_item

And `my_list` will contain one element less

In [ ]:
my_list

We can specify the index we want to remove

In [ ]:
# can index, default index -1
my_list.pop(0)
my_list

#### <font size=+2> `.remove()` </font>

Another way we have to remove elements in a list is using the `remove` method. This will look for the specified item and it will remove it from the list

In [ ]:
my_list = ['John', 'Lennon', 'Paul', 'George']
my_list.remove('John')
print(my_list)

['Lennon', 'Paul', 'George']

Be careful! If the item doesn't exist in the list, Python will throw an error

In [ ]:
my_list = ['John', 'Lennon', 'Paul', 'George']
my_list.remove('Yoko')

#### <font size=+2>`.sort()`</font> and <font size=+2>`.reverse()`</font>

You can use `sort` to order the list by the value of its elements

In [ ]:
# use .sort() method to sort list, changes original list, no returned value

let_list = ["a", "d", "v", "x", "g"]

num_list = [13,42,4,24,2,46,3,7]

In [ ]:
let_list.sort()
num_list.sort()

In [ ]:
print(let_list)
print(num_list)

['a', 'd', 'g', 'v', 'x']
[2, 3, 4, 7, 13, 24, 42, 46]

In [ ]:
A = ["G06 WTR", "WL11 WFL", "QW68 PQR"]
print(A.sort())

None

If you want to order it in reverse order, you can use the `reverse` method

In [ ]:
# use .reverse() method to reverse list
num_list.reverse()

print(num_list)

#### <font size=+2>`.join()`</font>

`join` is actually a string method, but it can take a list as an argument. It will put every item in the list together separated by the string to which we applied to method

In [ ]:
list_of_strings = ["This", "is", "a", "sentence."]

print("    Random String    ".join(list_of_strings))

#### <font size=+2>`.index()`</font>

If we want to know the index of a certain element in our list, we can use the `index` method

In [ ]:
# my_list.remove('PAUL')
my_list = ['John', 'Lennon', 'Paul', 'George']
idx = my_list.index('Lennon')
print(idx)

1

Be careful! If the item is not in the list, Python will throw an error

In [ ]:
my_list = ['John', 'Lennon', 'Paul', 'George']
idx = my_list.index('Yoko')
print(idx)

## A Brief Introduction to Sets

- Sets are a data type in Python.
- They follow the rules of mathematical sets that you should already be familiar with.
- They are mutable and unordered, and they do not contain repeated items (items are unique).
- This means one useful usage of a set is to find all unique items in a list, as we will see
- Sets also have their own methods, with operations derived from mathematical sets.

We can define a set using the `set` method to cast, for example, a list into a set. If the list contained repeated elements, they will be removed in the set.

In [ ]:
my_set = set([1, 2, 3, 4, 4, 4, 6])
print(my_set)

{1, 2, 3, 4, 6}

Observe above that number 4 appears only once in the set.

Also, observe that sets are represented by curly brackets (`{}`). This is the second way to define a set, using curly brackets when assigning it to a variable

In [ ]:
my_set = {1, 2, 3, 4, 4, 4, 6}
print(my_set)

{1, 2, 3, 4, 6}

As mentioned above, sets are unordered and mutable. Mutable means that we will be able to change its content, as we will see later in this notebook

Unordered means that its elements don't have a specific order, and therefore sets can't be indexed.

In [ ]:
# Trying to index a set
my_set[1]

TypeError: 'set' object is not subscriptable

After running the code above, we obtain a `TypeError`

### Sets functions and methods

We can retrieve the number of elements in a set using the `len` method, just like in a list

In [ ]:
my_set = {1, 5, 3, 6, 7, 5, 4, 5, 5, 5, 6}
len(my_set)

6

And retrieve the minimum and maximum value in the set using the `min` and the `max` functions

In [ ]:
min(my_set)

1

#### <font size=+2>`.add()`</font>

`add` (as the name suggests) adds an item to the set. As mentioned, sets are unordered, so it doesn't matter where we add it

In [ ]:
set_x = set()

print(set_x)

set_x.add(1)

print(set_x)

set_x.add(2)

print(set_x)

# if we add 2 again, we see the set does not change, as items in a set are unique

set_x.add(2)

print(set_x)

set()
{1}
{1, 2}
{1, 2}

#### <font size=+1>Mathematical Operations on Sets</font>

Sets in Python share the same principles as sets in maths, so you can use the same operations. 

The most common ones are `Union`, `Intersection`, `Difference`, and `Symmetric Difference`

<p align=center><img src=https://github.com/life-efficient/Essentials/blob/main/2.%20Python%20programming/2.%20Lists%20and%20Sets/images/sets.png?raw=1 width=400></p>

#### <font size=+2>`.union()`</font>

`union` essentially takes one set and it will add all its elements to another set

In [ ]:
set_1 = {'Dog', 'Cat', 'Platypus', 'Koala'}
set_2 = {'Crocodile', 'Hyena', 'Koala', 'Cat'}
print(set_1)
print(set_2)
union_set = set_1.union(set_2)
print(union_set)

{'Platypus', 'Koala', 'Dog', 'Cat'}
{'Crocodile', 'Koala', 'Hyena', 'Cat'}
{'Platypus', 'Crocodile', 'Dog', 'Koala', 'Hyena', 'Cat'}

Once again, the obtained set doesn't contain repeated values

#### <font size=+2>`.intersection()`</font>

`intersection` returns a set containing the items common in both sets

In [ ]:
inter_set = set_1.intersection(set_2)
print(inter_set)

{'Koala', 'Cat'}

#### <font size=+2>`.difference()`</font>

`difference` returns a set with the items that are in `set_1` but not in `set_2`

In [ ]:
# a.difference(b) returns the items in a that are NOT in b
differ_set = set_1.difference(set_2)
print(differ_set)

#### <font size=+2>`.symmetric_difference()`</font>

`symmetric_difference` returns a set with the items that are in `set_1` and `set_2`, but without the items that are in BOTH

In [ ]:
differ_set = set_1.symmetric_difference(set_2)
print(differ_set)

{'Crocodile', 'Platypus', 'Dog', 'Hyena'}

## Summary
We now understand:
- The nature of lists, and sets.
- The basic concept of mutability.
<br><br>

We now know:
- How to index and slice lists.
- List functions and methods including len(), .append(), .extend() etc.
- How to use a set to find the unique values in a list.

<br>

Please use this notebook as a reference, and refer to the links below for more information.

## Further reading
- List methods: https://docs.python.org/3/tutorial/datastructures.html
- Sets: https://docs.python.org/3/library/stdtypes.html#set